<!-- Start Menu -->
<section id="food-menu" class="content-area bg-home-food-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>Discover our menu</h2>
                    <div class="clear">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="366.6px" height="48.7px" viewBox="0 0 366.6 48.7" enable-background="new 0 0 366.6 48.7" xml:space="preserve">
							<defs>
							</defs>
								<g><g><g><g>
									<path d="M361.5,47.9c-46.7-4.5-93.5-7.4-139.9-10.2c-62.9-6.5-132.8-8-202.5-3c-8.2,0.2-15.9,1.4-17,2.7													c-1.3,1.2,4.4,2.1,12.5,1.8c9.1,0.1,18.3,0.2,27.6,0.1c4.7-0.1,9.4,0,14.1,0c4.7,0,9.5,0,14.3-0.1c4.8-0.1,9.6-0.1,14.5-0.2													c2.4-0.1,4.9-0.1,7.3-0.2c2.4,0,4.9-0.1,7.3-0.1c9.8-0.1,19.7-0.4,29.6-0.8c4.8-0.2,9.4,0,14.6,0.1c4.8,0,9.1-0.2,13.5-0.1													c8.8,0.2,17.4,0.3,26,0.4c8.6,0.2,17.1,0.5,25.5,0.7c4.2,0.1,8.5,0.2,12.7,0.3c2.1,0.1,4.2,0.1,6.4,0.2c2.1,0.1,4.2,0.2,6.4,0.3
													c8.5,0.4,17.1,0.8,25.7,1.3c4.3,0.2,8.5,0.5,12.8,0.7c4.2,0.3,8.5,0.6,12.7,0.9c8.4,0.6,16.8,1.1,25.1,1.7
													c8.3,0.5,16.6,1.3,24.9,2c8.3,0.7,16.6,1.5,24.9,2.3c1.6,0.2,2.9,0.1,3.3-0.1C364,48.3,363,48,361.5,47.9z"/>
								</g></g></g></g>
							</svg>
                    </div>
                    <strong class="subtitle">Please look thru our Menu below and choose to add to cart feature</strong>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-xs-12">
                <div class="the-menu-custom-nav text-center">

                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <!--<li role="presentation" class="active">-->
                            <!--<a href="#appetizers" class="rounded btn" aria-controls="starters" role="tab" data-toggle="tab">Kids</a>-->
                        <!--</li>-->
                        <li role="presentation" class="active">
                            <a href="#pasta" class="rounded btn" aria-controls="pasta" role="tab" data-toggle="tab">Appetizers</a>
                        </li>
                        <li role="presentation">
                            <a href="#pizza" class="rounded btn" aria-controls="pizza" role="tab" data-toggle="tab">Main Course</a>
                        </li>
                        <li role="presentation">
                            <a href="#dessert" class="rounded btn" aria-controls="dessert" role="tab" data-toggle="tab">Dessert</a>
                        </li>
                        <li role="presentation">
                            <a href="#salads" class="rounded btn" aria-controls="salads" role="tab" data-toggle="tab">Salads</a>
                        </li>
                        <li role="presentation">
                            <a href="#kabobs" class="rounded btn" aria-controls="kabobs" role="tab" data-toggle="tab">Kabobs</a>
                        </li>
                        <li role="presentation">
                            <a href="#sandwitches" class="rounded btn" aria-controls="dessert" role="tab" data-toggle="tab">Sandwitches</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-xs-12">

                <!-- Tab Content -->
                <div class="tab-content">

                    <!-- A tab Panel Appetizers -->
                    <div class="the-menu tab-pane active" role="tabpanel" id="pasta">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Appetizer<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="../../../assets/images/icons/kids/nuggets.jpg" alt=""> Chicken Nuggets<strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/kids/tenders.jpg" alt=""> Chicken Tenders<strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/chickenshaplate.jpg" alt=""> Garlic<strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/baba.jpg" alt=""> Baba Ganouge Dip<strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/basmati.jpg" alt=""> Basmati Rice <strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/falafel.jpg" alt=""> Falafel <strong>$$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/fries.jpg" alt=""> Fries <strong>$ 2</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/grape.jpg" alt=""> Stuffed Grape Leaves <strong>$ 5</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/greeksalad.jpg" alt=""> Greek Salad <strong>$ 5</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/home%20salad.jpg" alt=""> House Chopped Salad <strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/hummus.jpg" alt=""> Hummus Dip <strong>$ 2</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/kibbe.jpg" alt=""> Kibbe <strong>$ 4</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/lentil.jpg" alt=""> Lentil Soup <strong>$ 3</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/saucegarlic.jpg" alt=""> Cucumbers and Yogurt<strong>$ 2</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/spicyhummus.jpg" alt=""> Spicy Hummus <strong>$ 2</strong></li>
                                    <li><img src="../../../assets/images/icons/appetizers/tabouli.jpg" alt=""> Tabouli Salad<strong>$ 3</strong></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel main course -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="pizza">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Main Course<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="../../../assets/images/icons/main-course/beefshaplate.jpg" alt=""> Beef Kabob Platter Meal <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/chickenshaplate.jpg" alt=""> Chicken Shawarma Plate <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/country.jpg" alt=""> Country Dinner <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/falafeldinner.jpg" alt=""> Veggie Falafel Dinner <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/kaboplatter.jpg" alt=""> Meditarrenean Kabob Platter<strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/lambkabob.jpg" alt=""> Lamb Kabob Platter <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/mignonkabob.jpg" alt=""> Mignon Kabob Platter <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/mixedgrill.jpg" alt=""> Mediterrenean Mized Grill Platter <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/roasted.jpg" alt=""> Roasted Game Hen <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/shishtaouk.jpg" alt=""> Shish Taouk Platter <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/skander.jpg" alt=""> Skander Plate <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/vegplatter.jpg" alt=""> Vegetarian Mix Platter <strong>$ 27</strong></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    <!-- A tab Panel Dessert -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="dessert">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>Desserts</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="../../../assets/images/icons/desserts/baklava.jpg" alt=""> Bakhlava <strong>$ 25</strong></li>
                                    <li><img src="../../../assets/images/icons/desserts/harissa.jpg" alt=""> Harissa <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/desserts/baklava.jpg" alt=""> Starter dish name <strong>$ 25</strong></li>
                                    <li><img src="../../../assets/images/icons/desserts/baklava.jpg" alt=""> Starter dish name <strong>$ 25</strong></li>
                                    <li><img src="../../../assets/images/icons/desserts/harissa.jpg" alt=""> Harissa <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/desserts/harissa.jpg" alt=""> Harissa <strong>$ 13</strong></li>


                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Pasta -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="salads">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Salads<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="../../../assets/images/icons/salads/greek.jpg" alt=""> Greek or Caesar Salad <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/salads/tikkasalad.jpg" alt=""> Shawarma Salad <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/salads/falafelsalad.jpg" alt=""> Falafal Salad <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/salads/shawarmasalad.jpg" alt=""> Chicken Tikka Kabob Salad <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/salads/greek.jpg" alt=""> Shawarma Lamb Salad <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/salads/greek.jpg" alt=""> Russian Salad <strong>$ 13</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Pasta -->
                    <div class="the-menu tab-pane fade" role="tabpanel" id="kabobs">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Kabob<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="../../../assets/images/icons/kabobs/chickenkabob.jpg" alt=""> Original Chicken Kabob <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/kabobs/siciliankabob.jpg" alt=""> Sicilian Kabob <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/kabobs/kofta.jpg" alt=""> Kofta <strong>$ 13</strong></li>
                                    <li><img src="../../../assets/images/icons/main-course/kaboplatter.jpg" alt=""> Mixed Kabob <strong>$ 15</strong></li>
                                    <li><img src="../../../assets/images/icons/kabobs/koobidehkabob.jpg" alt=""> Koobideh Kabob <strong>$ 15</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- A tab Panel Sandwitches -->
                    <div class="the-menu tab-pane" role="tabpanel" id="sandwitches">
                        <div class="the-menu-block">
                            <div class="the-menu-title text-center"><h2>The<br>Sandwitches<br>Menu</h2></div>
                            <div class="the-menu-list">
                                <ul class="dishes">
                                    <li><img src="../../../assets/images/icons/sandwitches/beeflambsand.jpg" alt=""> Beef Lamb Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/beefsand.jpg" alt=""> Beef Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/chickensandwitch.jpg" alt=""> Chicken Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/falafelsand.jpg" alt=""> Falafel Sandwitch (Wrap) <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/filetsand.jpg" alt=""> Fillet Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/koftasand.jpg" alt=""> Kofta Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/lambsand.jpg" alt=""> Lamb Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/shawarmasand.jpg" alt=""> Shawarma Wrap <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/siciliansand.jpg" alt=""> Sicilian Sandwitch <strong>$ 7</strong></li>
                                    <li><img src="../../../assets/images/icons/sandwitches/tikkasand.jpg" alt=""> Tikka Sandwitch <strong>$ 7</strong></li>

                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>